# Python virtual environment
/fantasyenv/
__pycache__/

# Python cache
*.py[cod]

.python-version

# Private files
.env*
!.env*.example

# User specific files
*.json
!*.json.example

*.csv
!persistent_data/player_ids.csv

!logging_config.json
!challenge_config.json
!trade_value_config.json
!features_config.json

# Ignore server specific files
/recap/
/testing_output/
/logs/
/live_data/

# Ignore temporary file
build-context.tar