# Python virtual environment
/fantasyenv/
__pycache__/

# Python cache
*.py[cod]

# Private files
/discordauth/
/yfpyauth/

# Ignore backups
/persistent_data/backup.json
/persistent_data/rss_queue.json
/recap/
