# Python virtual environment
/fantasyenv/
__pycache__/

# Python cache
*.py[cod]

# Private files
.env*
!.env*.example

# User specific files
*.json
!*.json.example

# Ignore server specific files
/recap/
/testing_output/
/logs/
/live_data/

# Ignore temporary file
build-context.tar